:root {
    --primary: #f5f9f7;
    --secondary: #1f9674;
    --tertiary: #788585;
    --light-dark: #c3ddfa;
    --dark: #629898;
    --border-radius: 0.3rem;
  }
  

  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  
  p {
    font-size: 1.2rem;
  }
  
 

  
  .btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--tertiary);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
    ;
  }
  



  

  
  
  

  



  
 
  


  

  

  





  